body{
    font-family: 'Poppins', sans-serif;
    width: 1180px;
    margin:  0 auto ;
    background-image:linear-gradient(to top,aliceblue,#5e5b5bad,#a11f1f 80%);
    color: #333333; 

}

body.night-mode{
    background-image:linear-gradient(to top,#212121 20%,#000e35 60%);
    color: aliceblue;
}

header{
    display: flex;
    background: transparent;
    justify-content: space-between;
    padding: 25px;
}

header .logo , 
header .imagen-button{
    width: 30px;
    transition: 0.3s ease-in-out;
}



 header #theme-mode{
    background: none;
    border: none;
    

}

header .logo:hover,
header .imagen-button:hover{
    transform: scale(1.5);
    cursor: pointer;
}

main{
    padding: 25px;
}

 main .lista-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    
    
}

main .cart-pokemon{
    width: 250px;
    background: #150050;
    border-radius: 15px ;
    border: 2px solid rgb(4, 146, 204)  ;
    padding:  15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    max-height: 450px;
    justify-content: center;
    align-items: center;
    

}

#cart-grama{
    transition: 0.4s ease-in-out;
}

#cart-grama:hover{
    background-color: chartreuse;

}

#cart-agua{
    transition: 0.3s ease-in-out;
}

#cart-agua:hover{
    background-color: rgb(1, 55, 163);

}

#cart-fogo{
    transition: 0.3s ease-in-out;
}

#cart-fogo:hover{
    background-color: rgb(252, 24, 3);

}

#cart-inseto{
    transition: 0.3s ease-in-out;
}

#cart-inseto:hover{
    background-color:rgb(34, 126, 24);

}

main .cart-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main .cart-pokemon .inform{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 5px;


}
main .cart-pokemon .inform span{

    
    padding: 5px;
    

}


 main .cart-pokemon .gif{
    width: 150px;
    height: 190px;
    

 }

 main .cart-pokemon .tipos{

    display: flex;
    padding:8px;
    padding-top: 10pxx;
    gap: 30px;
 }


 .tipo-grama{
    background-color: rgb(4, 77, 41);
    border-radius: 10px;
    padding: 8px;
 }

 .tipo-veneno{
    background-color: rgb(89, 41, 157);
    border-radius: 10px;
    padding: 8px;

 }

 .tipo-fogo{
    background-color: rgb(223, 109, 18);
    border-radius: 10px;
    padding: 8px;
 }

 .tipo-voador{
  background-color:rgb(153, 167, 251);
  border-radius: 10px;
  padding: 8px;
 }

 .tipo-agua{
    background-color: rgb(4, 146, 204) ; ;
    border-radius: 10px;
    padding: 8px;
 }

 .tipo-inseto{
    background-color: rgb(38, 155, 136);
    border-radius: 10px;
    padding: 8px;
    
 }