body{
    font-family: 'Poppins', sans-serif;
    width: 1180px;
    margin:  0 auto ;
    background: url(img/light-mode_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #000000; 

}

body.night-mode{
    background: url(img/night-mode_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: aliceblue;
}

header{
    display: flex;
    background: transparent;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

header .logo ,
header .imagen-button{
    width: 30px;
    transition: 0.3s ease-in-out;
}



header .logo-pokemon{
    width: 150px;
    transition: 0.3s ease-in-out;
}

header .logo-pokemon:hover{
    transform: scale(1.5);
    cursor: pointer;
}



 header #theme-mode{
    background: none;
    border: none;
    

}

header .logo:hover,
header .imagen-button:hover{
    transform: scale(1.5);
    cursor: pointer;
}

main{
    padding: 25px;
}

 main .lista-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    
    
}


main .cart-pokemon{
    width: 250px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px ;
    border: 2px solid rgb(4, 146, 204)  ;
    padding:  15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    max-height: 450px;
    justify-content: center;
    align-items: center;
    

}



main .cart-pokemon .night-mode{
    background: #150050;
}

#cart-grama{
    transition: 0.4s ease-in-out;
}

#cart-grama:hover{
    background-color: #5f9907;

}

#cart-agua{
    transition: 0.3s ease-in-out;
}

#cart-agua:hover{
    background-color: rgba(1, 55, 163, 0.795);

}

#cart-fogo{
    transition: 0.3s ease-in-out;
}

#cart-fogo:hover 
{
    background-color: rgba(170, 27, 14, 0.651);

}

#cart-inseto{
    transition: 0.3s ease-in-out;
}
#cart-inseto-veneno{
    transition: 0.3s ease-in-out;
}
#cart-inseto-veneno:hover{
    background-color: color-mix(in srgb, #0ce62d,#59299d);
}
#cart-normal{
    transition: 0.3s ease-in-out;
}
#cart-normal:hover{
    background-color: rgb(160, 160, 160);

}



#cart-inseto:hover{
    background-color:rgb(34, 126, 24);

}

#cart-voador-normal{
    transition: 0.3s ease-in-out;
}

#cart-voador-normal:hover{
   background-color:rgb(121, 133, 199); 
}

#cart-normal-voador{
    transition: 0.3s ease-in-out;
}
#cart-normal-voador:hover{
    background-color:rgb(121, 188, 215);
}


main .cart-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main .cart-pokemon .inform{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 5px;


}
main .cart-pokemon .inform span{

    
    padding: 5px;
    

}


 main .cart-pokemon .gif{
    width: 160px;
    height: 200px;
    

 }

 main .cart-pokemon .tipos{

    display: flex;
    padding:8px;
    padding-top: 10px;
    gap: 30px;
    
 }


 .tipo-grama{
    background-color: rgb(4, 77, 41);
    border-radius: 10px;
    padding: 8px;
 }

 .tipo-dark{
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    padding: 8px;
 }
 

 .tipo-veneno{
    background-color: rgb(89, 41, 157);
    border-radius: 10px;
    padding: 8px;

 }

 .tipo-fogo{
    background-color: rgb(223, 109, 18);
    border-radius: 10px;
    padding: 8px;
 }

 .tipo-voador{
  background-color:rgb(153, 167, 251);
  border-radius: 10px;
  padding: 8px;
 }

 .tipo-agua{
    background-color: rgb(4, 146, 204) ; ;
    border-radius: 10px;
    padding: 8px;
 }

 .tipo-inseto{
    background-color: rgb(38, 155, 136);
    border-radius: 10px;
    padding: 8px;
    
 }

 .tipo-normal{
    background-color: #a4acaf;
    border-radius: 10px;
    padding: 8px;
    

 }
 

.cart-pokemon:nth-child(21) img{
    transform: scale(40%);
    position: relative;
    bottom:-6% ;

 }

 .cart-pokemon:nth-child(22) img{
    transform: scale(80%);
    width: 280px;

 }
  
 .cart-pokemon:nth-child(2) img{
    transform: scale(70%);
    position: relative;
    bottom: -5%;
    

 }

 .cart-pokemon:nth-child(3) img{
    transform: scale(90%);
    position: relative;
    height: 200px;
    bottom: -3%;
    

 }

 .cart-pokemon:nth-child(4) img{
    transform: scale(110%);
    position: relative;

    

 }

 .cart-pokemon:nth-child(8) img{
    transform: scale(150%);
    position: relative;
    bottom: -3%;



 }

 .cart-pokemon:nth-child(11) img{
    transform: scale(70%);
    position: relative;
    bottom: -4%;



 }

 .cart-pokemon:nth-child(12) img{
    transform:scale(110%) ;
    position: relative;
    bottom: 5%;



 }

 .cart-pokemon:nth-child(23) img{
    transform: scale(130%);
    position: relative;
    bottom: 5%;



 }

 .cart-pokemon:nth-child(24) img{
    transform: scale(90%);
    position: relative;
    bottom: 5%;
    width: 280px;



 }

 .cart-pokemon:nth-child(16) img{
    transform:scale(130%);
    width:190px;
    position:relative;
    bottom: 3%;
    height:200px;
    
 }
 .cart-pokemon:nth-child(15) img{
    transform:scale(82%);
    width:190px;
    position:relative;
    bottom: -1%;
    height:200px;
    
 }

 .cart-pokemon:nth-child(20) img{
    transform:scale(130%)
 }

 .cart-pokemon:nth-child(14) img{
    transform:scale(50%);
    position:relative;
    bottom:-6%;
 }
 .cart-pokemon:nth-child(16) .tipos{
    position:relative;
    bottom: 3%;

 }
 
 .cart-pokemon:nth-child(14) .tipos{
    position:relative;
    bottom :-2%;
 }

 .cart-pokemon:nth-child(13) .tipos{
    position:relative;
    bottom :-2%;
 }

 .cart-pokemon:nth-child(25) img{
    transform:scale(50%);
    position:relative;
    bottom:-5%;
 }
 

 .cart-pokemon:nth-child(26) img{
    transform:scale(80%);
    position:relative;
    bottom: 3%;
 }

 .cart-pokemon:nth-child(27) img{
    transform:scale(50%);
    width:120px;
    position:relative;
    bottom:-5%;
 }

 .cart-pokemon:nth-child(28) img{
    transform:scale(160%);
    width:150px;
    height:180px;
    position:relative;
    bottom:-5%;
 }